@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262834;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

textarea {
  height: 75px;
  width: 249px;
  background-color: #1c1e27;
  border: 0px;
  color: #fff;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  resize: none;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}

#plus {
  grid-row: 4/6;
  grid-column: 4;
}

#backspace {
  color: #262834;
}

#result {
  grid-row: 6;
  grid-column: 2/5;
}

button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #fff;
  font-weight: 500;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.highlight {
  background: hsl(110, 60%, 50%);
  color: #101116;
}

.linkButton {
  background: hsl(110, 60%, 50%);
  color: #101116;
  padding: 8px 16px;
  width: fit-content;
  margin-bottom: 14px;
}

.resultsListGrid {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 80vw;
  max-width: 800px;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
  color: #fff;
  padding: 16px;
  overflow: hidden;
}

.tableContainer {
  overflow: auto;
}

table {
  min-width: max-content;
  width: 100%;
}

th {
  text-align: start;
  min-width: fit-content;
  padding-right: 20px;
}

tr {
  vertical-align: middle;
  line-height: 30px;
}

td {
  padding-right: 20px;
}